<!-- HOME PAGE -->

<%- include('partials/header') %>

<!-- NAVBAR SECTION -->
<nav class="navbar navbar-default">
  <div class="navigation">
    <ul class="nav navbar-nav navbar-left">
      <div class="title-logo">
        <li>
          <img class="logo" src="/cake.jpg" alt="cake logo">
        </li>
        <li>
          <p class="bakery-name">Tasty Treats</p>
        </li>
      </div>
    </ul>
    <ul class="nav navbar-nav navbar-middle">
      <!-- 6 -->
      <li id="home"><a href="/">HOME</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li id="login"><a href="/userlogin">LOGIN</a></li>
      <li id="signup"><a href="/userregister">SIGN UP</a></li>
    </ul>
  </div>
</nav>

<!-- BODY SECTION -->
<body>
  <div class="row">
    <div class="col-lg-6">
      <h1 class="big-heading">🎉 When you look at our cupcake, you've got to smile 🌝</h1>
    </div>
    <div class="col-lg-6">
      <img class="title-image" src="full.jpeg" alt="iphone-mockup">
    </div>
  </div>

  <hr />

  <div class="row">
    <div class="col-lg-4">
      <img class="side-image1" src="choci.jpeg" alt="iphone-mockup">
    </div>
    <div class="col-lg-4">
      <h3>
        <center>We know everyone has a sweet tooth so we’re mixing our cakes and pastries with just the right blend of flavorful ingredients </center>
      </h3>
      <h3>
        <center>Don't miss it ! </center>
      </h3>

    </div>
    <div class="col-lg-4">
      <img class="side-image2" src="ice.jpeg" alt="iphone-mockup">
    </div>
  </div>
  <hr />


  <!-- Features -->
  <section id="features">
    <div class="row">
      <div class="col-lg-4">
        <h4><i class="fas fa-check-circle icon"></i><br>Easy to use.</h4>
        <h6>Tap to dig in.</h6>
      </div>
      <div class="col-lg-4">
        <h4><i class="fas fa-bullseye icon"></i><br />Quality Food</h4>
        <h6>We serve fresh every day.</h6>
      </div>
      <div class="col-lg-4">
        <h4><i class="fas fa-heart icon"></i><br />A Trendy Food Delivery.</h4>
        <h6>Straight out of the oven to your doorsteps</h6>
      </div>
    </div>
  </section>

  <footer id="footer">
    <center>
      <br />
      <br />
      <i class="fab fa-twitter footer-icon"></i>
      <i class="fab fa-facebook footer-icon"></i>
      <i class="fab fa-instagram-square footer-icon"></i>
      <i class="far fa-envelope footer-icon"></i>
      <p class="copyright">Online Bakery System - SPD Project</p>
    </center>
  </footer>
</body>

</html>
