<!--NO ORDERS PAGE - USER-->

<%- include('partials/header') %>

<!-- NAVBAR SECTION -->
<nav class="navbar navbar-default">
  <div class="navigation">
    <ul class="nav navbar-nav navbar-left">
      <div class="title-logo">
        <li>
          <img class="logo" src="/cake.jpg" alt="cake logo">
        </li>
        <li>
          <p class="bakery-name">Tasty Treats</p>
        </li>
      </div>
    </ul>
    <ul class="nav navbar-nav navbar-middle">
      <li id="home"><a href="/">HOME</a></li>
      <li id="allproducts"><a href="/allproducts">ALL ITEMS</a></li>
      <li id="categories"><a href="/usercategories">FILTER</a></li>
      <li id="categories"><a href="/customize">CUSTOMIZE</a></li>
      <li id="categories"><a href="/myorders/<%=userID%>">MY ORDERS</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li>
        <a href="#"><%=userID%></a>
      </li>
      <li><a href="/cart/checkout"> <i class="fas fa-shopping-cart cart-logo"></i> My cart
        </a></li>
      <li><a href="/" class="">LOG OUT</a></li>
    </ul>
  </div>
</nav>

<!-- BODY SECTION -->

<body>
  <center>
    <div class="col-sm-12 empty-cart-cls text-center"> <img src="https://i.imgur.com/dCdflKN.png" width="130" height="130" class="img-fluid mb-4 mr-3">
      <h2> No orders Yet ☹️</h2>
      <br />
      <a class="link btn" href="/allproducts">View Items</a>
    </div>
  </center>
</body>
